@import "variables", "header", "footer", "productos", "contacto", "sobrenosotros";




body {
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    background-color: aquamarine;
    
}

.slide img {
    height: 65vh;
}

.carousel-inner {
    background-color: CadetBlue;
}